azure-identity
azure-keyvault-secrets
pydantic
langchain
langchain-community
langchain-openai
azure-search-documents
azure-ai-formrecognizer
langgraph
fastapi
uvicorn
itsdangerous
sqlalchemy
oracledb
sqlmodel
langgraph-checkpoint-postgres
psycopg[binary]
python-jose[cryptography] # Para manejar JWTs
passlib[bcrypt]
starlette
httpx
google-auth-oauthlib