azure-identity
azure-keyvault-secrets
pydantic
langchain-google-genai
langchain-community
azure-search-documents
azure-ai-formrecognizer
langgraph
fastapi
uvicorn
itsdangerous
sqlalchemy
oracledb
sqlmodel
langgraph-checkpoint-postgres
psycopg[binary]
